<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.orthoden">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OrthoDen">
        <activity
            android:name=".Intent.SMSActivity"
            android:exported="false" />
        <activity
            android:name=".Intent.ShareActivity"
            android:exported="false" />
        <activity
            android:name=".Intent.ReturnActivity"
            android:exported="false" />
        <activity
            android:name=".Intent.MailActivity"
            android:exported="false" />
        <activity
            android:name=".Intent.LinkActivity"
            android:exported="false" />
        <activity
            android:name=".Communication.Callapp.CallActivity"
            android:exported="false" />
        <activity
            android:name=".Login.ViewUserActivity"
            android:exported="false" />
        <activity
            android:name=".Login.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".Login.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Communication.ReturnActivity"
            android:exported="false" />
        <activity
            android:name=".Communication.MailActivity"
            android:exported="false" />
        <activity
            android:name=".Communication.SMSActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>